@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("./fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #A442FC;
  --color-white: #fff;
  --color-gray: #384254;
  --color-link: #333333;
  --color-text: #57606F;
  --color-about-bg: #F0F1F3;
  --color-heading: #162237;
  --color-skills-border: #E5E8EB;
  --color-footer-bg: #2D384B;
  --color-mark: #FACAC9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins;
}

.container {
  margin: 0 100px;
}

.header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background-color: var(--color-white);
  z-index: 999;
}

.header__content {
  display: flex;
  align-items: center;
}

.section {
  padding: 100px 0;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__icon {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-primary);
}

.logo__name {
  display: inline-block;
  margin-left: 12px;
  font-size: 32px;
  font-weight: 600;
  color: var(--color-heading);
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 500;
  color: var(--color-link);
  text-decoration: none;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 5px;
}

.headline {
  display: flex;
  gap: 50px;
}

.heading-1 {
  font-size: 72px;
  color: var(--color-heading);
}

.heading-3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-heading);
}

.paragraph {
  color: var(--color-text);
  font-size: 18px;
}

.headline__content {
  flex-grow: 1;
  padding: 52px 0;
}

.headline__image {
  overflow: hidden;
  min-width: 236px;
  height: 427px;
  border-radius: 24px;
}

.headline__img {
  height: 100%;
  object-fit: cover;
}

.headline__paragraph {
  margin-top: 24px;
}

.headline__cta-button {
  margin-top: 24px;
}

.section--about {
  background-color: var(--color-about-bg);
}

.heading-2 {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-heading);
}

.about__paragraph {
  margin-top: 16px;
}

.abouts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  margin-top: 70px;
  padding: 0;
  list-style: none;
}

.abouts__item {
  padding: 32px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.abouts__item--full-width {
  grid-column: span 2;
}

.abouts__heading {
  margin-top: 32px;
}

.abouts__paragraph {
  margin-top: 12px;
}

.heading-2--skills {
  text-align: center;
}

.skills-leading {
  display: flex;
  justify-content: center;
}

.skills-leading__paragraph {
  max-width: 577px;
  text-align: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 70px;
  padding: 0;
  list-style: none;
}

.skills__item {
  display: flex;
  flex-direction: column;
}

.skills__thumb {
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 284px;
}

.skills__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills__content {
  flex-grow: 1;
  padding: 32px;
  border: 1px solid var(--color-skills-border);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.skills__paragraph {
  margin-top: 12px;
}

.footer {
  padding: 30px 0;
  background-color: var(--color-footer-bg);
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__name--footer {
  color: var(--color-white);
}

.copyright {
  color: var(--color-white);
}

.section--headline {
  overflow: hidden;
  position: relative;
}

.blur-circle {
  position: absolute;
  border-radius: 50%;
  filter: blur(156px);
  z-index: -1;
}

.blur-circle--1 {
  right: -200px;
  top: -382px;
  width: 871px;
  height: 871px;
  background-color: rgba(218, 77, 241, 40%);
}

.blur-circle--2 {
  right: -273px;
  top: 49px;
  width: 871px;
  height: 871px;
  background-color: rgba(196, 245, 233, 70%);
}

.headline__heading-1 {
  font-style: normal;
  font-weight: 600;
}

.mark {
  background: linear-gradient(0deg, #FACAC9 35%, transparent 0%);
  background-position-y: -2.9em;
}

@media screen and (min-width: 1920px) {
  .container {
    margin: 0 300px;
  }

  .headline__image {
    height: 637px;
  }

  .headline {
    gap: 136px;
  }

  .about {
    display: flex;
    gap: 143px;
  }

  .about__title-wrap {
    flex: 1;
    align-content: center;
  }

  .abouts {
    flex: 1;
  }
}