* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
.row {
  white-space: nowrap;
  font-size: 0;
}
.col {
  display: inline-block;
  padding: 5px;
  width: 85px;
  height: 85px;
}
.cell {
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0;
  transition: background-size 0.2s ease-in-out;
}
.cell.active {
  background-size: 100%;
}